{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forms App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarText">
          <a class="navbar-brand" href="/">Forms App</a>
          <ul class="navbar-nav ml-auto">
            {% if user.is_superuser %}
            <li class="nav-item">
              <a href="{% url 'stats' %}" class="nav-link">Statistics</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <br />
      <p class="font-weight-bold">Title</p>
      <p></p>
      <p class="text-justify">
        Description<br><br>
      </p>
      {% if listOfArgs %} 
        {% for form, completed in listOfArgs %} 
          {% if form.visible %}
            <div class="card my-3 mx-3">
              <div class="card-body">
                {% if completed %}
                  <h5 class="card-title my-auto">Round #{{form.type_id}}: {{form.title}} <span class="text-success">(Completed)</span></h5>
                {% else %} 
                  {% if user.is_superuser %}
                    <h5 class="card-title mb-3">Round #{{form.type_id}}: {{form.title}} - Statistics</h5>
                    <a href="/form_stats/{{form.id}}" class="card-link">Enter Form</a>
                  {% else %}
                    <h5 class="card-title mb-3">Round #{{form.type_id}}: {{form.title}} <span class="text-danger">(Not Completed)</span></h5>
                    <a href="/form/{{form.id}}" class="card-link">Enter Form</a>
                  {% endif %} 
                {% endif %}
              </div>
            </div>
          {% else %} 
            {% if user.is_superuser %}
              <div class="card my-3 mx-3">
                <div class="card-body">
                  <h5 class="card-title mb-3">Round #{{form.type_id}}: {{form.title}} - Statistics</h5>
                  <a href="/form_stats/{{form.id}}" class="card-link">Enter Form</a>
                </div>
              </div>
            {% endif %} 
          {% endif %} 
        {% endfor %} 
      {% endif %}
    </div>
    <div style="margin-bottom: 100px"></div>
  </body>
</html>